RewriteEngine On

# If the requested URL is not a file or directory, route to routes.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ index.php?page=home [L]
RewriteRule ^about$ index.php?page=about [L]
RewriteRule ^add$ index.php?page=add [L]
RewriteRule ^dashboard$ index.php?page=dashboard [L]
RewriteRule ^contact$ index.php?page=contact [L]
RewriteRule ^products$ index.php?page=products [L]
RewriteRule ^login$ index.php?page=login [L]
RewriteRule ^roleselection$ index.php?page=roleselection [L]
RewriteRule ^register$ index.php?page=register [L]
RewriteRule ^store_register$ index.php?page=store_register [L]
RewriteRule ^update$ index.php?page=update [L]
RewriteRule ^cart$ index.php?page=cart [L]
RewriteRule ^add_to_cart$ index.php?page=add_to_cart [L]
RewriteRule ^update_cart$ index.php?page=update_cart [L]
RewriteRule ^logout$ index.php?page=logout [L]
RewriteRule ^admin_dashboard$ index.php?page=admin_dashboard [L]
RewriteRule ^checkout$ index.php?page=checkout [L]
RewriteRule ^thankyou$ index.php?page=thankyou [L]
RewriteRule ^add_to_cart$ index.php?page=add_to_cart [L]
RewriteRule ^admindelete$ index.php?page=admindelete [L]
RewriteRule ^registerUser$ index.php?page=registerUser [L]
RewriteRule ^storeRegister$ index.php?page=storeRegister [L]
RewriteRule ^delete$ index.php?page=delete [L]










# Rewriting /update to index.php?page=update


# Handle delete URL (e.g., dashboard/delete/1)
RewriteRule ^dashboard/delete/([0-9]+)$ index.php?page=dashboard&delete=$1 [L]
